@{
  Layout = "_Layout";
}

@using DrSillystringz.Models;
@model List<DrSillystringz.Models.Machine>;

<h1>Machines currently in operation:</h1>

<br>
<hr />

@if (@Model.Count == 0)
{
  <h3>No Machines are currently in service.</h3>
}

@foreach (Machine machine in Model)
{
  <li>@Html.ActionLink($"{machine.MachineName}", "Details", new { id = machine.MachineId })</li>
}

<br>
<hr />

<p><strong>Go To..</strong></p>
<p>@Html.ActionLink("Add machine to factor floor", "Create")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>